---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/sections/navbar.astro';
import Hero from '@/sections/hero.astro';
---

<Layout title="Hospital privado la gracia">
  <Navbar />
  <main>
    <Hero />
  </main>
</Layout>

<style>
  main {
    /* margin: auto; */
    /* padding: 1rem; */
    /* width: 800px; */
    /* max-width: calc(100% - 2rem); */
    /* font-size: 20px;
    line-height: 1.6; */
  }
</style>
