<section class="relative w-full h-[60vh] md:h-[85vh]">
  <img
    src="/images/hero-bg.webp"
    alt="Hospital Privado La Gracia"
    class="absolute inset-0 w-full h-full object-top object-cover brightness-50"
  />
  <div
    class="absolute inset-0 flex flex-col justify-center items-center text-center text-white px-4"
  >
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-serif mb-2 sm:mb-4"
    >
      Tu salud en <span class="font-bold">las mejores manos</span>
    </h1>
    <h2
      class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-serif mb-4 sm:mb-6"
    >
      con atención personalizada
    </h2>
    <p class="text-lg sm:text-xl md:text-2xl max-w-2xl">
      Experiencia médica de calidad centrada en tu bienestar.
    </p>
  </div>
  <div style="overflow: hidden;" class="absolute bottom-0 left-0 right-0">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
      class="fill-white w-full md:w-[200%] md:h-[100px] h-[30px] rotate-180 -scale-x-100"
    >
      <path
        d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z"
      ></path>
    </svg>
  </div>
</section>
<section class="py-16 px-4 bg-white">
  <div class="container mx-auto grid md:grid-cols-2 gap-8 items-center">
    {/* Columna izquierda */}
    <div class="space-y-6">
      <span class="text-teal-400 text-lg md:text-2xl"
        >Comprometidos con tu bienestar y salud integral</span
      >

      <h2
        class="text-4xl md:text-5xl font-bold text-gray-800 leading-tight mr-0 md:mr-28"
      >
        Atención Médica Integral de Calidad
      </h2>

      <p class="text-gray-600 text-md mr-0 md:mr-28">
        Contamos con instalaciones modernas y un equipo de especialistas
        altamente calificados para brindarte una atención completa y
        personalizada. Nos esforzamos por ofrecer servicios médicos adaptados a
        tus necesidades, con la mejor tecnología y en un ambiente cómodo y
        seguro.
      </p>

      <div class="space-y-8 mt-8">
        {/* Servicio 1 */}
        <div class="flex items-start gap-4">
          <div class="text-teal-400">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-10 h-10 md:w-12 md:h-12 text-teal-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width={2}
                d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4"
              ></path>
            </svg>
          </div>
          <div>
            <h3 class="text-xl font-semibold text-gray-800">
              Atención Médica Especializada
            </h3>
            <p class="text-gray-600 mr-0 md:mr-28">
              Nuestro equipo de especialistas en distintas áreas, está preparado
              para ofrecerte diagnósticos y tratamientos de alta calidad, con
              enfoque en tu recuperación.
            </p>
          </div>
        </div>

        {/* Servicio 2 */}
        <div class="flex items-start gap-4">
          <div class="text-teal-400">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-10 h-10 md:w-12 md:h-12 text-teal-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width={2}
                d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
              ></path>
            </svg>
          </div>
          <div>
            <h3 class="text-xl font-semibold text-gray-800">
              Centro de Diagnóstico Avanzado
            </h3>
            <p class="text-gray-600 mr-0 md:mr-28">
              Contamos con tecnología de última generación para realizar
              exámenes especializados que permiten un diagnóstico preciso y
              rápido.
            </p>
          </div>
        </div>

        {/* Servicio 3 */}
        <div class="flex items-start gap-4">
          <div class="text-teal-400 w-14 h-14">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-10 h-10 md:w-12 md:h-12 text-teal-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9.75 17.25l-6.5-6.5a3.75 3.75 0 115.3-5.3l.88.88 4.53 4.53 1.59-1.59a1.25 1.25 0 011.77 0l1.72 1.72a1.25 1.25 0 010 1.77l-6.75 6.75M15 5h5m0 0v5m-5-5l7.5 7.5"
              ></path>
            </svg>
          </div>
          <div>
            <h3 class="text-xl font-semibold text-gray-800">
              Cirugías y Procedimientos Quirúrgicos
            </h3>
            <p class="text-gray-600 mr-0 md:mr-28">
              Ofrecemos procedimientos quirúrgicos de alta calidad, tanto
              ambulatorios como hospitalarios, realizados por un equipo
              experimentado en quirófanos de última generación.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna derecha - Imágenes superpuestas -->
    <div class="relative h-[300px] md:h-[600px] mt-8 md:mt-0">
      <!-- Imagen de fondo - edificio -->
      <img
        src="/images/doctor-bg.jpg"
        alt="Hospital building"
        class="absolute right-0 top-0 w-full h-full object-cover object-center md:object-right"
      />
      <!-- Imagen superpuesta - doctor -->
      <img
        src="/images/doc.webp?w=1024&h=1024"
        alt="Doctor"
        class="absolute left-0 bottom-5 md:bottom-10 w-4/5 h-4/5 object-cover -translate-x-10 md:-translate-x-5 xl:-translate-x-24"
      />
    </div>
  </div>
</section>

<!-- class="absolute left-0 bottom-5 md:bottom-10 w-3/5 h-3/5 md:w-4/5 md:h-4/5 object-cover -translate-x-10 md:-translate-x-24" -->
