<section class="relative w-full h-[60vh] md:h-[85vh]">
  <img
    src="/images/hero-bg.webp"
    alt="Hospital Privado La Gracia"
    class="absolute inset-0 w-full h-full object-top object-cover brightness-50"
  />
  <div
    class="absolute inset-0 flex flex-col justify-center items-center text-center text-white px-4"
  >
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-serif mb-2 sm:mb-4"
    >
      Tu salud en <span class="font-bold">las mejores manos</span>
    </h1>
    <h2
      class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-serif mb-4 sm:mb-6"
    >
      con atención personalizada
    </h2>
    <p class="text-lg sm:text-xl md:text-2xl max-w-2xl">
      Experiencia médica de calidad centrada en tu bienestar.
    </p>
  </div>
  <div style="overflow: hidden;" class="absolute bottom-0 left-0 right-0">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
      class="fill-white w-full md:w-[200%] md:h-[100px] h-[30px] rotate-180 -scale-x-100"
    >
      <path
        d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z"
      ></path>
    </svg>
  </div>
</section>


<!-- class="absolute left-0 bottom-5 md:bottom-10 w-3/5 h-3/5 md:w-4/5 md:h-4/5 object-cover -translate-x-10 md:-translate-x-24" -->
