---
import ContactCards from '@/components/cards/ContactCards.astro';
---

<section class="relative w-full h-[60vh] md:h-[85vh]">
  <!-- Imagen de fondo -->
  <img
    src="/images/banner-bg.jpg.webp"
    alt="Doctor con estetoscopio"
    class="absolute inset-0 w-full h-full object-cover object-right-top md:object-right brightness-75 md:brightness-95"
  />

  <!-- Overlay para asegurar legibilidad del texto -->
  <div class="absolute inset-0 0"></div>

  <!-- Contenido -->
  <div class="relative h-full container mx-auto px-4">
    <div class="h-full flex items-center">
      <div class="w-full md:w-1/2">
        <h1
          class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white md:text-teal-600 mb-4"
        >
          Centro médico hospitalario profesional
        </h1>
        <p class="max-w-lg mb-8 text-white md:text-gray-600">
          Atención que se siente, con la gracia que mereces
        </p>
      </div>
    </div>
  </div>
  <ContactCards />
</section>
