<section class="relative w-full h-[60vh] md:h-[85vh]">
  <!-- Imagen de fondo -->
  <img
    src="/images/banner-bg.jpg.webp"
    alt="Doctor con estetoscopio"
    class="absolute inset-0 w-full h-full object-cover object-right-top md:object-right brightness-75 md:brightness-95" 
  />

  <!-- Overlay para asegurar legibilidad del texto -->
  <div class="absolute inset-0 0"></div>

  <!-- Contenido -->
  <div class="relative h-full container mx-auto px-4">
    <div class="h-full flex items-center">
      <div class="w-full md:w-1/2">
        <!-- <p class="text-gray-600 mb-2">Atención que se siente, con la gracia que mereces</p> -->
        <h1
          class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white md:text-teal-600 mb-4"
        >
          Centro médico hospitalario profesional
        </h1>
        <p class="max-w-lg mb-8 text-white md:text-gray-600 ">
          Atención que se siente, con la gracia que mereces
        </p>
        <!-- <button
          class="bg-gradient-to-r from-picton-blue-600 to-picton-blue-400 text-white px-8 py-3 rounded-md hover:shadow-lg transition-all"
        >
          Contactanos
        </button> -->
      </div>
    </div>
  </div>

  <!-- Wave SVG al fondo -->
  <div style="overflow: hidden;" class="absolute bottom-0 left-0 right-0">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
      class="fill-white w-full md:w-[200%] md:h-[100px] h-[30px] rotate-180 -scale-x-100"
    >
      <path
        d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z"
      ></path>
    </svg>
  </div>
</section>
<!-- <section class="relative w-full h-[60vh] md:h-[85vh]">
  <img
    src="/images/banner-bg.jpg.webp"
    alt="Hospital Privado La Gracia"
    class="absolute inset-0 w-full h-full object-cover md:object-center object-right-top brightness-75"
  />
  <div
    class="absolute inset-0 flex flex-col justify-center items-center text-center text-white px-4"
  >
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl mb-2 sm:mb-4">
      Tu salud en <span class="font-bold text-picton-blue-600"
        >las mejores manos</span
      >
    </h1>
    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl mb-4 sm:mb-6">
      con atención personalizada
    </h2>
    <p class="text-lg sm:text-xl md:text-2xl max-w-2xl">
      Experiencia médica de calidad centrada en tu bienestar.
    </p>
  </div>
  <div style="overflow: hidden;" class="absolute bottom-0 left-0 right-0">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
      class="fill-white w-full md:w-[200%] md:h-[100px] h-[30px] rotate-180 -scale-x-100"
    >
      <path
        d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z"
      ></path>
    </svg>
  </div>
</section> -->
