---

---

<header class="bg-white">
  <div
    class="container mx-auto px-4 py-6 flex flex-wrap items-center justify-between"
  >
    <a
      href="/"
      class="text-picton-blue-500 flex gap-2 justify-center items-center"
    >
      <div>
        <img src="/images/logo.svg" alt="Hospital Privado" class="w-10 h-10" />
      </div>
      <span class="leading-tight font-semibold"
        >Hospital Privado <br /> La Gracia</span
      >
      <!-- Agregué leading-tight para reducir el espacio entre líneas -->
    </a>
    <nav class="hidden md:flex space-x-6">
      <a href="#" class="text hover:text-gray-900">Servicios</a>
      <a href="#" class="text-gray-600 hover:text-gray-900">Quienes somos</a>
      <!-- <a href="#" class="text-gray-600 hover:text-gray-900">Gallery</a> -->
      <a href="#" class="text-gray-600 hover:text-gray-900">Contacto</a>
    </nav>

    <a
      href="https://wa.me/50259676197"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-teal-400 text-white px-4 py-2 rounded-md hover:bg-teal-500 text-xs md:text-base"
    >
      Escribenos
    </a>
  </div>
</header>
